@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

*{
box-sizing: border-box;

}


body {
background-color: #2A2A2A;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: 'Oswald';
font-weight: 400;

}

.results {

display: flex;
justify-content: space-around;
width: 50%;

}

.result-item{
display: flex;
justify-content: center;
align-items: center;


}

.icon {
background-color: #fff;
opacity: 0.5;
width: 80px;
height:80px;
font-size: 34px;
border-radius: 50%;
margin-right: 20px;
display: flex;
justify-content: center;
align-items: center;


}

.stat {
    color: white;
}

.stat h3 {
    margin: 0;
}

.stat p {
    margin: 0;
}




/* TEXT  */


#text {
    font-size: 24px;
    margin-top:50px;
    color: #fff;
}


.selected {
background-color:#5A9CE9 ;
border-radius: 10px;


}

.pass {

    background-color:#5A9CE9 ;
    opacity: 0.5;

}


.container_text {
width: 50%;


}


/* KEYBOARD */


.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .row {
    display: flex;
    margin-bottom: 10px;
  }
  
  .key {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }

  .error {
    background-color: #F55072;
    border-radius: 10px;

  }
  
  
  .special {
    width: 100px;
  }
  
  .key:hover {
    background-color: #f2f2f2;
    transform: scale(1.1);
  }
  
  .key:active {
    background-color: #5A9CE9;
  }
  
  @media screen and (max-width: 480px) {
    .key {
      width: 40px;
      height: 40px;
      font-size: 16px;
    }
    .special {
      width: 80px;
    }
  }

